/*
* @Author: Administrator
* @Date:   2018-08-16 18:33:59
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-16 21:08:43
*/
*{
    margin:0;
    padding:0;
    list-style:none;
    box-sizing:border-box;
    text-decoration: none;

}
html,body{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background-image: url('../img/denglu3.png');
	background-position: -1.5rem center;
	background-size: 9.14rem 13.7rem;
	background-repeat: no-repeat;
}
/* 媒体查询 屏幕的最小宽度 */
@media screen and (min-width:360px){
    html{
        font-size: calc(360/750*100px);
    }
}
@media screen and (min-width:375px){
    html{
        font-size: calc(375/750*100px);
    }
}
@media screen and (min-width:414px){
    html{
        font-size: calc(414/750*100px);
    }
}
@media screen and (min-width:412px){
    html{
        font-size: calc(412/750*100px);
    }
}
@media screen and (min-width:750px){
    html{
        font-size: calc(750/750*100px);
    }
}
@media screen and (min-width:768px){
    html{
        font-size: calc(768/750*100px);
    }
}
@media screen and (min-width:1024px){
    html{
        font-size: calc(1024/750*100px);
    }
}

nav{
	width: 100%;
	height: 100%;
	
}
nav .bottom{
	width: 100%;
}
nav .bottom .register{
	height: 0.63rem;
	width: 1.44rem;
	border-radius: 0.33rem;
	color: #fff;
	font-size: 0.34rem;
	background: #f31a68;
	text-align: center;
	line-height: 0.63rem;
	position: fixed;
	top: 0.31rem;
	right: 0.46rem;
}
nav .bottom .top .face{
	height: 2.63rem;
	width: 2.63rem;
	border-radius: 50%;
	background-image: url('../img/denglu2.png');
	background-size: 2.63rem 2.63rem;
	position: fixed;
	top: 1.53rem;
	left: 2.4rem;
}
nav .top .number{
	width: 3.89rem;
	height: 0.69rem;
	border-radius: 0.2rem;
	background:#f31a68;
	display: flex;
	padding:0.1rem;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 5.58rem;
	left: 1.8rem;
}
nav .top .password{
	width: 3.89rem;
	height: 0.69rem;
	border-radius: 0.2rem;
	background:#f31a68;
	display: flex;
	padding:0.1rem;
	position: fixed;
	top: 6.67rem;
	left: 1.8rem;
}
nav .top .forget{
	width:4rem;
	display: flex;
	justify-content: space-between;
	color: #f31a68;
	font-size: 0.24rem;
	position: fixed;
	top: 7.4rem;
	left: 1.8rem;
}
nav .top a{
	display: block;
	height: 0.97rem;
	width: 2.7rem;
	border-radius: 0.5rem;
	border:0.01rem solid #fff;
	color: #fff;
	font-size: 0.4rem;
	text-align: center;
	line-height: 0.97rem;
	position: fixed;
	top: 8.35rem;
	left: 2.5rem;
}
nav .down{
	width: 3.3rem;
	height: 0.7rem;
	display: flex;
	justify-content: space-between;
	font-size: 0.4rem;
	position: fixed;
	bottom: 1.6rem;
	left: 2.15rem;
}
nav .down i{
	font-size: 0.7rem;
	background: white;
	text-align: center;
	border-radius: 0.4rem;
	line-height: 0.71rem;
}
nav .down i:nth-child(1){
	color: #3fb207;
}
nav .down i:nth-child(2){
	color: #3aa5f2;
}
nav .down i:nth-child(3){
	color: #3aa5f2;
}